body, html {
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  height: 100%;
  width: 100%;
  background-color: #C1E3E5;
  overflow-x: hidden;
  }
  @font-face {
    font-family: 'Univers LT Std';
    src: url('UniversLTStd.woff') format('woff'),
        url('UniversLTStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
#GameDiv{
  position: absolute;
  top: 0;
  left: 0;
}
  .textZone{
    pointer-events: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 24%;
    text-align: center;
  }
  .onMobile{
    top: 61%;
    left: 0%;
  }
  .onDesktop{
    top: 67%;
    left: 3%;
  }
 

  .textZone p{
    position: absolute;
    width: 10%;
    color:#4f4a4a ;
    font-family: 'Univers LT Std';
    font-size: 1.4vw;
    line-height: 3vh;
    padding: 0;
    margin: 0;
  }


 .pagefooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  height: 44px;
}.pagefooter p{
    font-family: 'Univers LT Std';
    font-size: 1.5rem;
    line-height: 44px;
    padding: 0;
    margin: 0;
}
.btn{
  cursor: pointer;
  visibility: hidden;
  width: 100%;
  max-width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.1) ;
  padding: 10px;
  text-align:center;
  background:white;
  border-radius: 50px;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 2px 80px 0 rgba(0,0,0,0.19);
}
.btn p{
  margin: 0;
  font-size: 1.2vw;
}
  .logo{
    position: absolute;
    right: 17%;
    top: 10%;
    transform: translate(100%, -50%);
    width: 14%;
    height: auto;
  }
  .logo img{
    width: 100%;
    height: auto;
  }
  .leftDiv{

    font-family: 'Univers LT Std';
    position: absolute;
    left: 22%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 24%;
    height: auto;
    color: #4f4a4a;
}
.footer{
  font-size: 1.5vw;
}.content{
  font-size: 1.5vw;
  line-height: 1.3;
  margin-bottom: 2%;
}.title{
  font-size: 2.2vw;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

#footeridP{
  display: none;
}
#footerid{
  display: block;
}
.footerP{
  position: absolute;
  left: 5%;
  top: 47%;
}

.flower1, .flower2{
  position: absolute;
}
.flower1{
  left: 0;
  top:0;
}
.flower2{
  right: 0;
  bottom:0;
}.flower1 img{
  width: 15rem;
}
.flower2 img{
  width: 10rem;
}

@media (orientation: landscape) {
  .p1{left: 9.5%;top: 0%;}
  .p2{left: 22%;top: 0%;}
  .p3{left: 31.5%;top: 0%;}
  .p4{left: 61.5%;top: 0%;}
  .p5{left: 71.5%;top: 0%;}
  .p6{left: 84%;top: 0%;}
}


@media (orientation: portrait) {

  .textZone {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.textZone p {
  width: 20%;
  font-size: 3.2vw;
  line-height: 4vw;
}
.p1{left: 12.5%;top: 0;}
.p2{left: 36%;top: 0;}
.p3{left: 62.5%;top: 0;}
.p4{left: 12.5%;top: 91%;}
.p5{left: 35.5%;top: 91%;}
.p6{left: 62.5%;top: 91%;}

#footerid{
  display: none;
}
#footeridP{
  display: block;
  font-family: 'Univers LT Std';
}
  .btn p {
    font-size: 2vw;
}
.logo {
  position: absolute;
  right: 2%;
  top: 6%;
  transform: translate(-2%, -50%);
  width: 40%;
  height: auto;
}
.logo img {
  width: 100%;
  height: auto;
}
  
.leftDiv {
  font-family: 'Univers LT Std';
  position: absolute;
  left: 20%;
  top: 10%;
  transform: translate(0%, 10%);
  width: 90%;
  height: auto;
  color: #4f4a4a;
}
.footer{
  text-align: center;
  font-size: 4vw;
}.content {
  font-size: 3.5vw;
  line-height: 1.3;
  width: 76%;
}.title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: left;
  /* margin-left: 10%; */
}#btvV{
width: 50%;
}
#btvV p {
  font-size: 1rem;
  font-weight: 500;
}



.flower1 img{
  width: 8rem;
}
.flower2 img{
  width: 5rem;
}

}